<%# <div class="jumbotron">

</div> %>

<div class="container">
  <ul>
    <%= for item <- @items do %>
      <li>
        <strong><%= link item.title, to: item_path(@conn, :show, item) %></strong>
        <strong></strong>: <%= item.description %>
      </li>
    <% end %>  
  </ul>
</div>

<%# 
<div class="row marketing">
  <div class="col-lg-6">
  </div>

  <div class="col-lg-6">
  </div>
</div> %>
